/* =========== */
/* Main Styles */
/* =========== */

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-750: rgb(42, 47, 57);
  --grey-900: rgb(35, 42, 52);
  --grey-950: rgb(25, 30, 40);
  --orange-500: hsl(25, 97%, 53%);

  --background: rgb( 20, 20, 25);
  --text-primary: var(--white);
} 


body {
  font-family: '[Overpass]', sans-serif;
  color: var(--text-primary);
  font-size: 16px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;

  & .attribution {
    position: fixed;
    bottom: 0;
  }
}

/* =========== */
/*  Main Card  */
/* =========== */

.rating-card {
  background-color: var(--grey-900);
  background-image: linear-gradient(to bottom, var(--grey-900), var(--grey-950));
  display: flex;
  flex-direction: column;
  align-items: normal;
  height: 28rem;
  width: 30rem;
  border-radius: 2rem;
  padding: 2rem;
  gap: 1rem;
}

/*Star Icon*/
.icon-circle {
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--grey-750);
  border-radius: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.icon-star {
  width: 1.2rem;
  height: 1.1rem;
}

/*Title and Content*/
.rating-title {
  font-size: 2rem;
}

.rating-content {
  color: var(--grey-500);
  font-size: 1.1rem;
}

/* ================ */
/*  Button Section  */
/* ================ */

.button-line{
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  gap: 0.75rem;
}

.rating-button {
  all: unset;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--grey-750);
  color: var(--grey-500);
  font-weight: 700;
  border-radius: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  transition: all 0.3s ease;

  &:hover {
  background-color: var(--white);
  color: var(--grey-950);
  transform: scale(1.05);
  }

  &:focus {
  background-color: var(--orange-500);
  color: var(--grey-950);
  transform: scale(1.05);
  }
}

.submit-button {
  all: unset;
  background-color: var(--orange-500);
  color: var(--grey-950);
  font-weight: 700;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  transition: all 0.3s ease;

  &:hover {
  background-color: var(--white);
  color: var(--grey-950);
  transform: scale(1.05);
  }
}

/* =============== */
/*  Thanking Card  */
/* =============== */

.thanking-card {
  background-color: var(--grey-900);
  background-image: linear-gradient(to bottom, var(--grey-900), var(--grey-950));
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28rem;
  width: 30rem;
  border-radius: 2rem;
  padding: 3rem;
  gap: 1rem;
}

.thanking-img {
  width: 10rem;
  height: 7rem;
  margin-bottom: 1rem;
}

/* main content */
.span-background {
  height: 2rem;
  background-color: var(--grey-750);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
}

/* content text */
.thanking-span {
  color: var(--orange-500);
}

.thanking-content {
  color: var(--grey-500);
  font-size: 1.05rem;
  text-align: center;
}

/* ============= */
/*    Details    */
/* ============= */

/*smooth transition*/
.card {
  transition: opacity 0.4s ease;
}

/* "hidden" status */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.att {
  color: var(--white);
}

/* ==================== */
/*  Responsive Section  */
/* ==================== */

@media screen and (max-width: 500px)  { 
  body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 100vw;
   min-height: 100vh;
   max-width: 100vw;
    padding: 1.5rem;
  }
  
  .rating-card,
  .thanking-card {
    width: 100%;
    height: auto;
    min-height: 42vh;
    max-height: 57vh;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border-radius: 1.5rem;
    gap: 0.75rem;
    display: flex;
    justify-content: flex-start;

    &.button-line {
      justify-content: space-between;
    }
  }

  .icon-circle {
    width: 3rem;
    min-height: 3rem;
    margin-bottom: 2vh;
  }

  .icon-star {
    width: 1rem;
    height: 1rem;
  }

  .rating-title {
    font-size: 1.6rem;
  }

  .rating-content,
  .thanking-content {
    font-size: 1rem;
  }

  .button-line {
    max-height: 10vh;
  }

  .rating-button {
    width: 12vw;
    height: 6vh;
    font-size: 2vh;
    margin: 1vh 0.25vw 0vh 0.5vw;
  }

  .submit-button {
    min-height: 3rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-top: 1rem;
  }

  .thanking-img {
    width: 8rem;
    height: auto;
  }

  .span-background {
    padding: 0.8rem 1.2rem;
  }

}
